.cursor/**
.cursor-plugin/**
.kagent/**
.git/**
.github/**
.vscode/**
web/**
data/**
skills/**
commands/**
node_modules/**
scripts/**
**/*.vsix
**/.DS_Store
**/*.local
**/.TOKEN
.TOKEN
**/.screenshots/**
**/.vite/**
package-lock.json
.gitignore
.vscodeignore
**/*.ts
**/*.map
*.md
!README.md
